{% extends "default.html" %} {% block content %}
<div id="body-admin">
  <div class="row justify-content-center m-1">
    <h1
      class="
        container
        w-50
        display-3
        text-dark
        border border-dark
        bg-danger
        text-center
        rounded-pill
        m-3
        p-2
        font-weight-bolder
      "
    >
      🛠 Administrateur ⚙️
    </h1>
  </div>

  <div class="row justify-content-center m-1">
    <h2 class="container w-auto h-auto text-light border border-dark bg-dark text-center rounded m-3 p-2">
      Voici la liste de tous les articles disponibles!
    </h2>
    <a
      href="admin-new.html"
      class="btn btn-success border border-dark text-light font-weight-bolder text-center m-2 p-2"
    >
      ➕Créer un nouvel article
    </a>
  </div>

  <div id="content" class="container w-auto h-auto">
    <div class="row justify-content-center m-auto p-1 w-auto h-auto text-center">
      <div class="align-items-center">
        <div
          id="articles-admin"
          class="container list-group-item clearfix m-1 border border-dark justify-content-center"
        >
          <div class="text-center justify-content-center">
            <h2
              class="
                list-group-item-heading
                text-light
                border border-dark
                text-center
                bg-danger
                rounded
                m-auto
                w-50
                h-auto
              "
            >
              Titre
            </h2>
            <label for="date" class="font-weight-bold text-dark mt-3 p-2">Date de publication :</label>
            <p id="date" name="date" class="container bg-dark text-light w-50 text-center">Date</p>
            <p />
          </div>
          <a
            href="admin-new.html"
            class="btn btn-warning border border-dark text-dark font-weight-bolder text-center m-2 p-2 w-auto"
          >
            📝Modifier l'article
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
