{% extends "default.html" %} {% block content %}
<div id="body-home">
  <div class="row justify-content-center mt-5 mb-3">
    <h1
      class="
        container
        w-25
        display-3
        text-light
        border border-dark
        bg-info
        text-center
        rounded-pill
        m-3
        p-2
        font-weight-bolder
      "
    >
      Bienvenue!
    </h1>
  </div>

  <div class="row justify-content-center mb-3">
    <h2 class="container w-25 text-light border border-dark bg-primary text-center rounded m-3 p-2">
      Voici l'article du lien <strong><u>{{identifiant}}</u></strong>!
    </h2>
  </div>

  <div class="container text-center">
          <button class="btn btn-success border border-dark text-light font-weight-bolder text-center m-2 p-3">
            ➕Créer un nouvel article
          </button>
        </div>

  <div id="content" class="container">
    <div class="row w-100 justify-content-center">
      <div class="row justify-content-center m-auto p-1 w-auto h-auto text-center">
        <div class="col-sm-11 align-items-center">
          <div id="articles" class="container list-group-item clearfix m-1 border border-dark justify-content-center">
            <div class="col text-center justify-content-center">
              <h4 class="font-weight-bolder text-dark">Titre :</h4>
              <h2 class="list-group-item-heading text-light border border-dark w-25 text-center rounded m-auto bg-primary">
                {{titre}}
              </h2>
              <h4 class="font-weight-bolder text-dark mt-3 p-2">Identifiant :</h4>
              <h2 class="list-group-item-heading text-light border border-dark w-25 text-center rounded m-auto bg-primary">
                {{identifiant}}
              </h2>
              <h4 class="font-weight-bolder text-dark mt-3 p-2">Auteur :</h4>
              <h2 class="list-group-item-heading text-light border border-dark w-25 text-center rounded m-auto bg-primary">
                {{auteur}}
              </h2>
              <h5 class="font-weight-bold text-dark mt-3 p-2">
                Date de publication :
                <a class=" font-weight-bold text-danger">{{date_publication}}</a>
              </h5>
              <h4 class="font-weight-bolder text-dark mt-1 p-2">Article :</h4>
              <p id="paragraphe-article" class="bg-light list-group-item-text border border-dark rounded p-1 text-left font-weight-bold m-auto">
                {{paragraphe}}
              </p>
            </div>
            <div class="row">
              <div class="col-12 p-2">
                <button
                  class="btn btn-info border border-dark text-light font-weight-bolder text-center m-2 p-2 w-auto"
                >
                  Voir la page de l'article
                </button>
                <button
                  class="btn btn-warning border border-dark text-dark font-weight-bolder text-center m-2 p-2 w-auto"
                >
                  Modifier l'article
                </button>
                <button class="btn btn-danger border border-dark text-light font-weight-bolder text-center m-2 p-2 w">
                  Supprimer l'article
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
